.container {
  width: 80vw;
}

.card {
  height: 17.2rem;
}

.background-top {
  background: url("../../images/header-image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: 80%;
  height: 100vh;
}

.overlay {
  background: rgba(50, 55, 55, 0.71);
  height: inherit;
}

.customers {
  margin: 3rem 0;
}

.hero {
  margin-top: 5rem;
}

.hero-text {
  font-size: 1.5rem;
}

.hero-btn {
  margin-top: 2rem;
  background-color: #008c95;
}

.card-landing {
  background-color: #008c95;
}
